@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Baloo+Bhaina+2:wght@400;500;600&family=Pontano+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Volkhov:ital@0;1&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    max-width: 1500px;
    width: 100%;
}

.header1 {
    margin-top: 20px;
    height: 70px;
    background-color: rgba(219, 226, 239, 0.3);
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.headerText {
    font-weight: '700';
    font-size: 20px;

}

.headerBody2 {
    float: right;
    /* background-color: rgba(219, 226, 239, 0.3); */
    height: 50px;

    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btnExport {
    width: 35px;
    height: 35px !important;
    font-size: 18px !important;
}

.tdBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.theadBody {
    justify-content: center !important;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.bodyTable {
    margin-right: 10px !important;
    margin-top: 30px;
}

.tBody {
    font-size: 13px;
    justify-content: center !important;
    align-items: center;
    text-align: center;
}

.linkTo {
    text-decoration: none;
    color: #fff;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 12px;
}